* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
}
nav {
  background: #fafafa;
  position: fixed;
  top: 0;
  left: 0;
  height: 3.4rem;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.2rem 3rem;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

nav .nav-items {
  margin-left: auto;
}
nav .nav-items ul {
  display: flex;
  list-style: none;
}
nav .nav-items ul li {
  display: block;
  padding: 1rem;
}
nav .nav-items ul li:hover {
  background: #eeeeee;
  cursor: pointer;
}
nav img {
  display: none;
  height: 3rem;
}
nav .mobile-nav-items {
  display: block;
  position: fixed;
  top: 3.5rem;
  left: -15rem;
  width: 15rem;
  background: #fafafa;
  height: calc(100% - 3.4rem);
  transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
}
nav .mobile-nav-items li {
  display: block;
  padding: 1rem 1rem;
  width: 100%;
  cursor: pointer;
}
nav .mobile-nav-items li:hover {
  display: block;
  background: #eeeeee;
  width: 100%;
}
.content {
  background: #eeeeee;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.content h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*Style for small devices*/

@media (max-width: 767px) {
  nav .nav-items {
    display: none;
  }
  nav .logo-container {
    margin: 0 auto;
  }
  nav img {
    display: block;
    cursor: pointer;
  }
  nav .open {
    left: 0;
  }
}
